* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 65px;
  margin-top: 40px;
  margin-left: 50px;
}

button.btn {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  border: none;
  justify-content: center;
  align-items: center;
}

.inscription {
  transform: rotate(-4deg);
  border-radius: 10px;
  background: #f124f2;
  box-shadow: 0 7px 0 0 #a819a8;
  padding: 27px 43.5px;
}

.newsletter {
  transform: rotate(6deg);
  border-radius: 35px;
  background: #684bd4;
  padding: 22px 39px;
}

.add_to_cart {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  background: #00b47e;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 25px 30px;
}
